@import "../../app.scss";
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;

    // @include mobile{
    //     width: 80%;
    //     font-size: 18px;
        
    // }

    .modal-content {
        position: relative;
        width: 700px;
        height: 500px;
        padding: 50px;
        background-color: #fff;
        border-radius: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 25px;
        text-align: center;
        overflow: scroll;

        @include mobile{
            width: 80%;
            text-align: start;
            line-height: 20px;;
            // padding: 20px;
            // gap: 0px;
            // font-size: 20px;
            // padding: 30px;
            
        }

        h1 {
            @include mobile{
                font-size: 25px;
                background-color: greenyellow;
                padding: 15px;
                
            }
        }
        p {
            font-size: 20px;
            font-weight: 800;
            border-radius: 30px;
            border: 2px solid rgba(214, 214, 214, 0.618);
            padding: 30px;
            // background-color: yellowgreen;

            @include mobile{
                display: unset;
                font-size: 15px;
                width: 80%;
                border: none;
                padding: 5px;
                text-align: start;
                // line-height: 0;
                

            }


            .item-content{
                position: relative;
                margin-top: 20px;
                font-weight: 300;
                font-size: 15px;
                flex-direction: column;
               
            }

            h6 {
                font-size: 14px;
                margin-top: 30px;
                background-color: greenyellow;
            }

            img{
                margin: 20px;
                width: 30%;
                height: 30%;
                object-fit: cover;
                border-radius: 30px;
            }
        
        
        }


        .close-button {
            position: absolute; 
            top: 0px; 
            right: 20px; 
            color: black;
            background-color: transparent;
            border: none;
            font-size: 2.7rem; 
            cursor: pointer;
            transition: color 0.2s;
          
            &:hover {
              color: #09db1e;
            }

            @include mobile{
                right: 0px;

            }
          }
        
    }
}
