@import "../../app.scss";
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.9);
    color: black;
    z-index: 10;

    // @include mobile{
    //     width: 80%;
    //     font-size: 18px;
        
    // }
    .image-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .image-modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
    }
    
    .image-modal-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .modal-content {
        position: relative;
        width: 700px;
        min-height: 500px;
        padding: 50px;
        background-color: rgb(15, 14, 14);
        // background-color: #eaeaea6e;
        border-radius: 10px;
        color: #c3c3b3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        font-weight: 100px;
        text-align: center;
        overflow-y: scroll;

        @include mobile{
            width: 90%;
            text-align: start;
            line-height: 20px;
            padding: 30px;
            // gap: 0px;
            // font-size: 20px;
            // padding: 30px;
            
        }

        h1 {
            @include mobile{
                font-size: 20px;
                margin-top: 25px;
                background-color: #fa9a2c;
                padding: 15px;
                
            }
        }
        p {
            font-size: 15px;
            //font-weight: 800;
            border-radius: 15px;
            border: 2px solid rgba(90, 89, 89, 0.9);
            padding: 30px;
            // background-color: yellowgreen;

            @include mobile{
                font-size: 15px;
                width: 100%;
                padding: 15px;
                text-align: start;
                // line-height: 0;
                

            }


            .item-content{
                position: relative;
                margin-top: 20px;
                font-weight: 300;
                font-size: 15px;
                flex-direction: column;
               
            }

            h6 {
                font-size: 14px;
                margin-top: 30px;
                padding: 5px;
                text-align: center;
                color: white;
                background-color: #828282;
            }

            img{
                margin: 20px;
                width: 60%;
                height: 60%;
                object-fit: cover;
                @include mobile{
                    // height: 50%;
                    margin: 0px;
                    object-fit: contain;
                    width: 100%;
    
                }
                // border-radius: 30px;
            }
        
        
        }


        .close-button {
            position: absolute; 
            top: 0px; 
            right: 20px; 
            color: rgb(157, 157, 157);
            background-color: transparent;
            border: none;
            font-size: 2.7rem; 
            cursor: pointer;
            transition: color 0.2s;
          
            &:hover {
              color: #fa9a2c;
            }

            @include mobile{
                right: -10px;
                top: -20px;

            }
          }
        
    }
}
