.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 8px;

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
         margin-top: 10px;

        p{
           font-weight: 200; 
           font-size: 18px;
           color: gray;
           text-align: right;
        }

        hr{
            width: 500px;
            border: none;
            border-top:0.5px solid gray;
        }

     
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            align-items: center;
            gap: 50px;
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                object-fit: cover;
}

h1{
    font-size: 67px;
    font-weight: 100;
}

    button{
        width: 200px;
        height: 50px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 18px;
        cursor: pointer;
}
        }
    }
    .listContainer{
        flex:2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        // margin-top: 10px;

        .box{
            padding: 45px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

           
        }

        button{
            padding: 10px;
            background-color: orange;
            border: none;
            cursor: pointer;
        }
        
    }
}