.services{
    // background: linear-gradient(180deg, rgb(1, 197, 168), rgb(14, 10, 136));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textContainer{
    flex:1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p{
        font-size: 20px;
        font-weight: 200;
        color: white;
        text-align: right;
    }

    hr{
        width: 500px;
        border: none;
        border-top: 0.5px solid rgb(229, 229, 229);
    }
}
.titleContainer{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap:10px;

    .title{
        display: flex;
        align-items: center;
        gap: 50px;

        img{
            width: 250px;
            height: 90px;
            border-radius: 50px;
            object-fit: cover;
        }

        h1{
            font-size: 70px;
            font-weight: 100;
        }

        button{
            width: 250px;
            height: 90px;
            background-color: rgb(162, 255, 0, 0.9);
            color: black;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 20px;

        }
    }
}

.listContainer{
    flex:2;
    display: flex;
    max-width: 1366px;
    margin: 20px;
    gap: 20px;

    .box{
        padding: 40px;
        border-radius: 30px;
        border: 2px solid rgba(214, 214, 214, 0.218);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        button{
            width: 60px;
            margin-top: 20px;
            padding: 10px;
            background-color: transparent;
            color: white;
            border: 2px solid rgb(162, 255, 0);
            border-radius: 20px;
            cursor: pointer;
        }

    }

}