@import "../../app.scss";
.services{
    // background: linear-gradient(180deg, rgb(1, 197, 168), rgb(14, 10, 136));
    //height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 50px);
    width: 95%;
    // overflow-y: scroll;
}

.textContainer{
    flex:1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    

    @include mobile{
        flex-direction: row;
        align-self: center;
        text-align: center;
    }

    hr{
        width: 500px;
        border: none;
        border-top: 0.5px solid #dbd4b8;
        @include mobile{
            width: 200px;
        }
    }
}
.titleContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap:10px;
    

    @include mobile{
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .title{
        display: flex;
        align-items: center;
        gap: 50px;

        @include mobile{
           flex-direction: column;
           text-align: center;
           gap: 20px;
        }

        img{
            width: 18rem;
            height: 6rem;
            border-radius: 50px;
            object-fit: cover;
            @include mobile{
                width: 12rem;
                height: 4rem;
             }
        }

        h1{
            font-size: 4rem;
            font-weight: 600;
            @include mobile{
                font-size: 1.5rem;
             }
        }

        a{

        button{
            
            width: 18rem;
            height: 6rem;
            background-color: #fa9a2c;
            color: black;
            border: none;
            border-radius: 50px;
            font-size: 1.3rem;
            cursor: pointer;
            // font-size: 20px;
            @include mobile{
                width: 12rem;
                height: 4rem;
                font-size: 0.8rem;
             }

        }}
    }
}

.listContainer{
    flex: 2;
    display: flex; 
    justify-content: space-around;
    margin: 20px;
    gap: 20px;

    @include mobile{
        flex-direction: column;
        align-items: center;
        //width: 50%;
        height: 20%;
        margin: 10px;
        flex-wrap: wrap;
        gap: 5px;
     }

    .box{
        max-width: 25%;
        border-radius: 30px;
        padding: 30px 40px;
        border: 2px solid rgba(214, 214, 214, 0.783);
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        overflow-y: auto;
        max-height: 450px;

        @include mobile{
            max-width: 90%;
            overflow-y: hidden;
            margin: 5px 0;
            height: 9rem;
            width: 10rem;
            padding: 20px;
         }
        
        ul{
            font-size: 1rem;
            line-height: 1.8rem;
            color:rgb(219, 217, 217);
            @include mobile{
                display: none;
             }
        }

        h2 {
            font-size: 2.2rem;
            color: #ee9c40;
            @include mobile{
                display: none;
             }
        }

        h3 {
            font-size: 3vh;
            color: #ee9c40;
            margin-bottom: 20px;
            //color: #dbd4b8;
            @include mobile{
                font-size: 1.1rem;
                margin-top: 10px;
                margin-bottom: 0px;
                color: #dbd4b8;
             }
        }

        button{
            font-size: 0.8rem;
            margin-top: 30px;
            padding: 0.8rem 1rem;
            background-color: transparent;
            color: #dbd4b8;
            border: 2px solid #fa9a2c;
            border-radius: 3rem;
            cursor: pointer;

            @include mobile{
                font-size: 0.7rem;
                margin: 15px;
                padding: 10px;
                border-radius: 1.5rem;
                // flex-wrap: wrap;
             }
        }

    }

}