.hero{
    height: calc(100vh - 100px); //because whole is 100 vh and navbar height is 100px
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .wrapper{
        width:50% !important;
        max-width:1366px;
        height:100%;
        margin: auto;

        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;  
            }

            h1{
                font-size: 40px;
            }

            .buttons{
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color:white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
               

            }

            img{
                width: 50px;
            }
        }
    }

    .imageContainer{
        height: 100% !important;
        position: absolute;
        top:0;
        right: 0;

    }
}