.hero{
    height: calc(100vh - 50px);
    overflow: hidden;
    // background: linear-gradient(180deg, rgb(1, 197, 168), rgb(14, 10, 136));
    position: relative;
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            margin-left: 50px;
            

            h2{
                font-size: 30px;
                color: rgb(54, 210, 18);

            }

            h1{
                font-size: 80px;
                color: white;
            }

            img{
                width: 50px;
            }

            .buttons{
                a {button{
                    padding: 20px;
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    border-radius: 10px;
                    font-weight: 300;
                    margin-right: 20px;
                    cursor: pointer;
                    position: relative;
                    z-index:1;
                }
            }
            }
        }
    }

    .slidingtextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }


    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 100px;


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        /*img{
            width: 30%;
            height: 30%;
            object-fit: cover;
        }*/
    }}
}