.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #004953, #298592);
    position: relative;

    .wrapper {
        width: 80%;
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                font-size: 30px;
                color: #00c4d3;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;
            }
            .buttons {

                button {
                    padding: 25px;
                    background-color: #00c4d3;
                    border: 1px solid transparent;
                    color: #fff;
                    border-radius: 10px;
                    transition: all 400ms ease;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 400;
                    
                }

            }
            

            button:hover {
                background: white;
                border-color: transparent;
                color: #004953;
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff1f;
    }
}