.hero{
	height: calc(100vh - 100px);
	background: linear-gradient(180deg, #0c0c1d, #111132);
	position: relative;

	.wrapper{
		max-width: 1366px;
		height: 100%;
		margin: auto;

		.textContainer{
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;

			h2{
				font-size: 30px;
				color: rebeccapurple;
				letter-spacing: 10px;
			}

			h1{
				font-size: 80px;
			}

			.buttons{
				button{
					padding: 20px;
					border: 1px solid white;
					border-radius: 10px;
					background-color: transparent;
					color: white;
					margin-right: 20px;
					cursor: pointer;
					font-weight: 300;
				}
			}
			
			img{
				width: 50px;
			}
		}
	}


	.imageContainer{
		height: 100%;
		position: absolute;
		right: 100px;
		bottom: 0;
		top: 150px;
		img{
			border-radius: 50%;
			height: 50%;
		}
	}

	.slidingTextContainer{
		position: absolute;
		font-size: 30vh;
		bottom: -50px;
		white-space: nowrap;
		color: #ffffff09;
		font-weight: bold;
		width: 50%;
	}
}