.hero {
    position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);


  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}


