

.portfolio {
  position: relative;
  // overflow: hidden;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
    color: white;
    font-size: 36px;



    .progressBar {
      height: 8px;
      background-color: rgb(162, 255, 0, 0.9);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      // margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;



      .imageContainer {
        position: relative;
        flex: 2;
        height: 50%;
        margin: 50px;
        top: 30px;
        border-radius: 30px;
        border: 6px solid rgba(214, 214, 214, 0.218);



        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 30px;

        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.806);
        margin: 20px;
        padding: 40px;
        border-radius: 30px;
        border: 2px solid rgba(214, 214, 214, 0.218);
        // height: 50%;



        h2 {
          font-size: 50px;
          color: rgba(44, 61, 15, 0.9);


        }

        p {
          color: gray;
          font-size: 20px;


        }

        button {
          background-color: rgb(162, 255, 0, 0.9);
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure it's behind the content */
}

.portfolio .content {
  position: relative;
  z-index: 1; /* Make sure it's above the background */
}