.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    .progressBar {
      height: 10px;
      background-color: #fff;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .imageContainer {
          flex: 1;
          height: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .textContainer {
          flex: 1;
        }
      }
    }
  }
}
