@import "../../app.scss";

.skills_container{
    row-gap: 0;
}

.skills_header{
    display:flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: var(--first-color);
}
.skills_icon{
    margin-right: var(--mb-0-5);
}

.skills_title{
    font-size: var(--h3-font-size);
}

.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow{
    margin-left: auto;
    transition: .4s;
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name{
    font-size:var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--first-color-lighter);
}

.skills_percentage{
    display: block;
    background-color: var(--first-color);
}


/*SKILLS FRONTEND*/
.skills_html{
    width: 80%;
}

.skills_css{
    width: 70%;
}

.skills_js{
    width: 70%;
}

.skills_react{
    width: 60%;
}
/*SKILLS BACKEND*/
.skills_csharp{
    width: 70%;
}

.skills_netfw{
    width: 70%;
}

.skills_sql{
    width: 70%;
}

.skills_vsc{
    width: 80%;
}

/*SKILLS SISTEMAS COMPUTACIONALES*/
.skills_tc{
    width: 90%;
}

.skills_network{
    width: 80%;
}

.skills_tics{
    width: 90%;
}

.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
}