.home_container{
    gap: 1rem;
}

.home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.home_social-icon:hover{
    color: var(--first-color-alt);
}

.home_blob{
    width: 200px;
}

.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--home-font-size);
}
.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
    margin-bottom: var(--mb-2);
}

.home_scroll{
    display: none
}

.home_scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home_scroll-button:hover{
    transform: translateY(.25rem);
}

.home_scroll_mouse{
    font-size: 2rem;
}

.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
   font-size: 1.25;
}

/***************** BUTTONS ********************/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button--icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}