@import "../../app.scss";

.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
  
    @include mobile {
        width: 100%;
        flex-direction: column;
        gap:0px;
      }
  
    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      textarea{
        size: 5cm;
      }
  
      @include mobile {
        gap: 10px;
        text-align: center;
        align-items: center;
        margin-top: 50px;
      
      }
  
  
      h1 {
        font-size: 100px;
        line-height: 88px;
  
        @include mobile {
            font-size: 30px;
          }
      }
  
      span {
        font-weight: 300;
      }
    }
  
    .formContainer {
      flex: 1;
      position: relative;
      
      @include mobile {
        padding: 20px;
        width: 100%;
      }
    
      .phoneSvg {
        stroke: orange;
        position: absolute;
        margin: auto;
        z-index: -1;
        
        svg{
        @include mobile {
            position: absolute;
            margin: center;
            height: 250px;
           
          }}
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include mobile {
            gap:5px
            
          }
        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 5px;
  
          @include mobile {
            padding: 2px;
            
          }
        }
  
        button {
          padding: 20px;
          border: none;
          background-color: orange;
          cursor: pointer;
          font-weight: 500;
          
          @include mobile {
            padding: 10px;
          }
  
        }
      }
    }
}