.contact {
    position: relative;
    height:100%;
    max-width: 1366px;
    // margin: auto;
    display: flex;
    align-items: center;
    gap: 0px;
    background-image: url("/stars.png");
    background-size: cover;
  
  
    .textContainer {
      align-self: center;
      top: 500px;
      flex: 1;
      display: flex;
      flex-direction: column;
      // text-align: center;
      // justify-content: left;
      margin: 50px;
      gap: 40px;
  
  
      h1 {
        font-size: 100px;
        line-height: 88px;
        font-weight: 500;
        // bottom: 300px;
       
      }
  
      span {
        font-weight: 900;
      }
    }
  
    .formContainer {
      flex: 1;
      position: relative;
      padding-right: 50px;
      
      
  
      .phoneSvg {
        stroke: rgb(162, 255, 0, 0.9);
        position: absolute;
        margin: auto;
        z-index: -1;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: black;
  
        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 5px;
  
          
        }
  
        button {
          padding: 20px;
          border: none;
          background-color: rgb(162, 255, 0);
          cursor: pointer;
          font-weight: 500;
          
        }
      }
    }
  }
  .social{
    display: flex;
    gap: 20px;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-top: 5px;
    }

}