.navbar{
height: 100px;
background: #0c0c1d;

 .wrapper{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    

    span{
        font-weight: bold;
    }
     .social{
        display: flex;
        gap: 20px;

        img{
            width: 18px;
            height: 18px;
        }
     }
 }
}