.navbar{
    height: 100px;

    .wrapper{
        max-width: 1166px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    span{
            font-weight: bold;
    }

    .social{
        display: flex;
        gap: 20px;

    }
}