@import "../../app.scss";

.navbar{
height: 100px;
background: #0a0420;

 .wrapper{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    
   width: 80%;
    span{
        font-weight: bold;
        
    }
     .social{
        display: flex;
        gap: 20px;
       
        img{
            width: 25px;
            height: 25px;
        }
        @include mobile {
          gap: 10px;
        }
     }
 }
}