@import "../../app.scss";

.navbar {
  height: 80px;

  .wrapper {
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      max-width: 100vw;
      padding: 2rem;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 29px;
        height: 29px;
      }
    }
  }
}
