.navbar {
  height: 100px;

  .wrapper {
    max-width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
      font-size: 20px;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
