@import "../../app.scss";
.skill{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    gap: 0px;

    .skill-title{
        height: 120px;
        font-size: 4rem;
        padding: 50px;
        margin-top: 30px;
        font-weight: 800;
        color: #dbd4b8;
        text-align: center;

        a{

            button{
                width: 12rem;
                height: 4rem;
                margin-left: 100px;
                background-color: #fa9a2c;
                color: black;
                border: none;
                border-radius: 50px;
                font-size: 1rem;
                cursor: pointer;
                @include mobile{
                    width: 10rem;
                    height: 4rem;
                    font-size: 0.8rem;
                    margin-top: 40px;
                    //justify-content: center;
                    margin-left: reset;
                 }
    
            }}
        
        @include mobile{
            font-size: 3rem;
            padding: 20px;
            margin-top: 2rem;
            line-height: 1rem;
         }
    }
    .skill-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 50px;
        border-radius: 30px;
        padding: 30px;
        height: 200px;
        width: 90%;
        gap: 20px;
        

        @include mobile{
            display: none;
            min-height: 350px;
            gap: 0px;
            justify-content: flex-start;
            overflow-y: scroll;
         }


        .sk{
            // background-color: green;
            //border-radius: 30px;
            // padding: 30px;
            // width: 50px;
            height: 50px;
            // text-align: center;

            @include mobile{
                height: 40px;
                //margin-left: 10px;
                padding:  5px;
                // overflow: scroll;
             }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                //border-radius: 30px;
            }

        }
    }
}



.scroll-arrow {
    position: absolute;
    bottom: 30px;
    left: 30%;
    font-size: 1rem;
    color: #dbd4b8;
    // display: flex;
    // justify-content: bottom;
    // align-items: bottom left;
    cursor: pointer;
    
    @include mobile{
        display: none;
        width: 70px;
        height: 70px;
        // margin-left: 10px;
        padding:  10px;
        font-size: 1.2rem;
        // overflow: scroll;
     }
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    max-width: 800px;
    max-height: 500px;
    margin: auto;
    color: white;
    @include mobile{
        //max-width: 300px;
        grid-template-columns: repeat(2, 1fr);
        // overflow: scroll;
     }
  
    .service-item {
      background: #333;
      border-radius: 8px;
      padding: 50px 30px;
      display: flex;
      font-size: 1.2rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include mobile{
        max-width: 300px;
        border-radius: 8px;
        padding: 1.8rem 1rem;
        display: flex;
        font-size: 1rem;
     }
  
      .fa-icon {
        font-size: 2rem;
        margin-bottom: 8px;
      }
  
      .service-title {
        margin-top: 8px;
      }
    }
  }