.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;

    .bg{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: white;
      width: 400px;
      
      .links{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a{
            font-size: 40px;
        }
      }
    }

    button{
        width: 50px;
        left: 40px;
        border-radius: 50%;
        background: transparent;
        border: none;
        position: fixed;
        top: 40px;
        display: flex;
        align-items: center;
    }
}