.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        background: white;
        
        .links{
            border: 5px solid red;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a{
                font-size: 40px;
            }
        }
    }
    
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background:transparent;
        border: none;
    }
}