@import "../../app.scss";

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  color: black;
  z-index: 999;

  .bg {
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height:100vh
    width: 330px;
    background-color: white;

    @include mobile {
      width: 50%;
      height: 100vh;
    }

    .links {
      z-index: 9;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      a {
        font-size: 30px;

        @include mobile{
        font-size: 23px;
        }
      }

    }
  }

  button {
    z-index: 9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top: 30px;
    left: 20px;
    border: none;
    cursor: pointer;
  }
}
