@import "../../app.scss";
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;

    .bg{
        position:fixed;
        top:0;
        left: 0;
        bottom: 0;
        width: 400px;
        background:rgb(142, 180, 228);

        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a{
                font-size: 40px;
                text-decoration: none;
                color: black;
            }
        }
    }

    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
cursor: pointer;
    }
}