@import "../../app.scss";
.skills {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 0;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
      @include mobile {
       font-size: 90%;
       margin-top: 15%;
       margin-left: 15%;
      }
    }

    hr {
      width: 200px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  

    @include mobile {
      width: 100%;
      flex: 1;
      
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }

      img {
        height: 90px;
        object-fit: cover;

        @include mobile {
          height: 30px;
        }
      }

      h1 {
        font-size: 500%;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      
    }
  }
  .listContainer1{
    flex: 2;
    max-width: 1366px;
    margin: auto;
   
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    
    

    @include mobile {
     flex-direction: column;
    }

    .box {
      padding: 20px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
       border: none;
        align-items: center;
        padding: 5px;
      }

      img {
        width: 100px;
        align-items: center;
        @include mobile {
          width: 50px;
        }
      }
    }
  }
}
}