/*-------------- GOOGLE FONTS--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');

/*--------------VARIABLE CSS--------------*/
:root{
    --header-height: 3rem;

    /*--------------COLORS--------------*/
    --hue-color: 207;

--first-color: hsl(var(--hue-color), 98%, 34%);
--first-color-second: hsl(var(--hue-color), 53%, 28%);
--first-color-alt: hsl(var(--hue-color), 57%, 53%);
--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
--title-color: hsl(var(--hue-color), 8%, 15%);
--text-color: hsl(var(--hue-color), 8%, 45%);
--text-color-light: hsl(var(--hue-color), 8%, 65%);
--input-color: hsl(var(--hue-color), 70%, 96%);
--body-color: hsl(var(--hue-color), 60%, 99%);
--container-color: #fff;
--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
--scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

/*--------------FONTS AND TYPOGRAPHY--------------*/

--body-font: 'Poppins', sans-serif;

    --big-font-size: 5rem;
    --home-font-size: 2.0rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.252rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: 0.75rem;

    --font-semi-medium: 200;
    --font-medium: 400;
    --font-semi-bold: 700;

    /*--------------Z-Margenes Bottom--------------*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*--------------Z-Index--------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*Font size for large devices (desktops)*/
    @media screen and (min-width: 968px)
    {
        :root
        {
            --big-font-size: 3rem;
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }


}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
section{
    padding: 0.2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}