* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  scroll-snap-align: center;
  height: 100vh;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
